<header id="main-header">
    <div id="logo"><a href="/">Summer Break</a></div>
    <nav>
        <ul>
            <li class="nav-item"><a href="/offeredPlaces">Browse Shared Places</a></li>
            <li class="nav-item"><a href="/recommendPlaces">Recommend a Place</a></li>
            <li class="nav-item"><a href="/aboutSpring">About Summer Break</a></li>
        </ul>
    </nav>
    <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>