<!DOCTYPE html>
<html lang="en">
      <link rel="stylesheet" href="about.css"/>
      <%- include('includes/head') %>
      <body>
        <%- include('includes/header') %>
        <%- include('includes/side-drawer') %>
        <main>
            <h1>Page not found</h1>
            <p>
              Sadly, we did not find this page.
            </p>
          </main>
      </body>
    </html>