<!DOCTYPE html>
<html lang="en">
      <link rel="stylesheet" href="about.css"/>
      <%- include('includes/head') %>
      <body>
        <%- include('includes/header') %>
        <%- include('includes/side-drawer') %>
        <main>
            <h1>Something went wrong!</h1>
            <p>
              Unfortunately, something went wrong on the server - we're doing everything possible to get it fixed.
            </p>
          </main>
      </body>
    </html>