<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="about.css" />
<%- include('includes/head') %>

  <body>
    <%- include('includes/header') %>
      <%- include('includes/side-drawer') %>
        <main>
          <h1>Make the Summer Break fun!</h1>
          <p>
            Summer Break is a website for us to share the ideas that will allow us to
            discover amazing places and decide where we are going on Summer Break 2022!
          </p>
          <p>
            You don't need to create an account - you can simply start
            sharing right away!
          </p>
          <p id="message"> Please remember, it is very hard to come up with a perfect place that will accommodate
            everybody.
            We need to remember that we will have about 17 people, including 8 kids. The ages are between
            'stinky-tiny-baby-boss' infant and a hoard of stinky-<strong>'I KNOW, MOM!'</strong> always hungry
            preteen-boys.
            We do not expect to have any girls, unless someone will have a child within 40 days.
            This way, finding a large enough house (with extra empty room, an isolator, in case boys will start killing
            each other, COVID got everyone slightly on the edge) will add some challenge as well.
            Adults will probably stick to alcohol. With that in mind, please share your ideas, summer is only 3 month!</p>
        </main>
  </body>

</html>