<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
      </head>
      <body>
        <%- include('includes/header') %>
        <%- include('includes/side-drawer') %>
        <main>
          <h1>Great!</h1>
          <p>
            Your idea of a Perfect Summer Break place was added to our list! 
          </p>
        </main>
      </body>
    </html>
    